[submodule "community"]
	path = community
	url = ssh://git@lab.cluster.gsi.dit.upm.es:2200/senpy/senpy-plugins-community.git
[submodule "enterprise"]
	path = enterprise
	url = ssh://git@lab.cluster.gsi.dit.upm.es:2200/senpy/senpy-plugins-enterprise.git
[submodule "senpy"]
	path = senpy
	url = ssh://git@lab.cluster.gsi.dit.upm.es:2200/senpy/senpy.git

